@model Sitio_Privado.Models.ChangePasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TannerClientes / Cambiar contraseña</title>
    <link rel="stylesheet" type="text/css" href="/.build/css/stylesCss.css" />
    <link rel="stylesheet" type="text/css" href="/.build/css/stylesLess.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/.build/vendors/vendors.js"></script>
</head>
<body>
    <div class="login">
        <div class="top">
            <div class="logo"></div>
            <div class="tannercl">
                <a href="http://www.tanner.cl" target="_blank">Volver a tanner.cl</a>
            </div>
        </div>
        <div class="log white-box">
            <div class="img">
                <div class="slogan">Hacemos realidad los sueños de crecer</div>
            </div>
            <div class="user-login">
                @if (ViewBag.Message != null)
                {
                    <div>@ViewBag.Message</div>
                }
                @using (Html.BeginForm("ChangePassword", "Account"))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-field">
                        @Html.DisplayNameFor(model => model.OldPassword)
                        @Html.EditorFor(model => model.OldPassword)
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field">
                        @Html.DisplayNameFor(model => model.Password)
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field">
                        @Html.DisplayNameFor(model => model.PasswordValidation)
                        @Html.EditorFor(model => model.PasswordValidation)
                        @Html.ValidationMessageFor(model => model.PasswordValidation, "", new { @class = "text-danger" })
                    </div>
                    <input type="submit" value="Guardar" class="button green">
                }
            </div>
        </div>
    </div>
</body>
</html>
